<div class="container">
    <div class="texto">
<img src="../../../assets/images/Logo_The_Simpsons.svg.png" width="80%" alt="">
<p class="intro">The Simpsons is an American animated sitcom created by Matt Groening for the Fox Broadcasting Company.
    The series is a satirical depiction of American life, epitomized by the Simpson family, which consists of Homer, Marge, Bart, Lisa, and Maggie. The show is set in the fictional 
    town of Springfield and parodies American culture and society, television, and the human condition. </p>
   
   <a class="boton" mat-raised-button routerLink="/listado">See more ...</a>
    </div>
    <div class="imagen">
<img src="../../../assets/images/simpsons.png" width="100%" alt="">
    </div>
</div>
